.div-container {
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #bebebe;
  width: 492px;
  margin: auto;
  margin: 0px auto;
  .input-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-left: 28%;
  }
  .start-input {
    border: none;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #777676;
    outline: none;
    background: transparent;
    // margin-right: 58px;
    margin: 0px auto;
    text-align: center;
  }
  .error-input {
    color: red;
    border-bottom: 1px solid red;
  }
}

.select-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  select {
    border: 0;
    border-bottom: 1px solid #bebebe;
    width: 492px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color:   #777676;
    outline: none;
    background: transparent;
   cursor:pointer;
  //  margin-left: 27px;
  //  margin: 0px auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0)
    
    
  }
}

.custom-arrow{
  position: absolute;
  top: 0px;
    right: 89px;
  display: block;
  // background: #3b3c47;
  height: 100%;
  width: 4rem;
  pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  
  transform: translate(-50%,-50%)
}

// .custom-arrow::before{
//   border-left: 0.5em solid transparent;
//   border-right: 0.5em solid transparent;
//   border-bottom: 0.5em solid #BEBEBE;
//   top: 35%;
// }

.custom-arrow::after{
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid #BEBEBE;
  top: 54%;
}

// #404040

option{
  background:#404040 ;
}
::-webkit-calendar-picker-indicator {
    filter: invert(47%) sepia(0%) saturate(303%) hue-rotate(134deg) brightness(95%) contrast(70%);
     }

  button:disabled{
    background: #404040;
    color: #7A7A7A;
  }   

  button:enabled{
    background: #F2F2F2;
    color: #A046E0;
  }

@media screen and (max-width: 768px){
  .select-container{
    select{
      width: 239px;
      font-size: 13px;
      margin: 0px auto;
    }
  }
  .custom-arrow{
    // right: 47px;
    // top: -3px;
    // width: 2rem;
    // height: 107%;
    display: none;
  }
  .custom-arrow::before{
    top:23%;
  }
  .div-container{
    width: 239px;
    margin:0px auto;
    .start-input{
      font-size: 13px;
      // margin-right: 29px;
    }
  }
}


