@import "~bootstrap/scss/bootstrap";
@import "./app/assets/styles/general";
@import "./app/assets/styles/input";

.con {
  // background: url(../src/app/assets/images/bg.webp);
  // width: 100%;
  // height: 100%;
  .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 716px;
    height: 736px;
    background-size: cover;
    background: linear-gradient(
      180deg,
      rgba(18, 18, 18, 0) 0%,
      rgba(0, 0, 0, 0.19) 57.49%,
      #000000 100%
    );
    margin: auto;
    .profile-icon {
      width: 28px;
      height: 20px;
      cursor: pointer;
      margin-top: 6px;
      margin-left: 9px;
    }
    .profile-header {
      margin-top: 28px;
      margin-bottom: 15px;
      .profile-heading {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 300;
        font-size: 64px;
        line-height: 78px;
        background: linear-gradient(93.31deg, #8e15e4 0%, #f3ea14 100.9%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        width: 439px;
        height: 76.44px;
        margin: auto;
        text-align: center;
        // padding-top: 32px;
        // padding-bottom: 0px;
        margin-bottom: 10px;
        h1 {
          margin-top: 6px;
        }
      }
    }
    .progress {
      display: flex;
      justify-content: center;
      height: 4px;
      background: transparent;
      // margin-top: -50%;
      // padding-bottom: 20px;
      margin-bottom: 4%;
      .progress1 {
        width: 242px;
        height: 4px;
        background: rgba(160, 70, 224, 0.1);
        border: none;
        margin-left: 3%;
      }
      .progress-complete {
        background-color: #a046e0 !important;
      }
    }
    .profile-select {
      margin-top: 45px;
    }
    .profile-paragraph {
      text-align: center;
      margin-top: 40px;
      margin-right: 25%;
      font-family: "Nunito";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      color: white;
    }
    .form-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 46px;
      form {
        display: flex;
        flex-direction: row;
        margin-right: 10%;
        margin-left: 1.5%;
      }
      .form-radio {
        margin: 15px;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 12px;
        color: #4f4d4d;
      }
    }
    .profile-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 14%;
      margin-bottom: 20%;
      margin-left: 36%;
      width: 223.94px;
      height: 58px;
      button {
        background: #404040;
        border-radius: 45px;
        border: none;
        font-family: "Nunito";
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 34px;
        text-align: center;
        color: #7a7a7a;
      }
    }
  }
}

// Second step
.secondstep-input {
  margin-top: 70px;
}

// Third step
.thirdstep-container {
  margin-top: 5%;
  .thirdstep-select {
    margin-top: 50px;
  }
  .thirdstep-paragraph p {
    text-align: center;
    margin-left: 37%;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #424242;
    margin-top: 10px;
  }
  .thirdstep-paragraph-2 p {
    text-align: center;
    margin-left: 58%;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #424242;
    margin-top: 10px;
  }
}
//
//
//
//Header-flex
//
//
//

.button-h {
  background: linear-gradient(85.56deg, #a046e0 6.02%, #f4e900 161.61%);
  color: #ffffff;
  border-radius: 2rem;
  height: 3rem;
  width: 10rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  list-style: none;
  margin: auto;
}

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #ffffff;
  text-decoration: none;
}

.ele {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.99em;
  padding: 10px 15px;
  text-align: center;
  display: block;
  margin-left: 4rem;
  margin-right: 4rem;
  list-style: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
}
.ele:hover {
  color: #ffffff;
}

.icon {
  height: 11rem;
  margin-top: 1rem;
  cursor: pointer;
}
.custom-contact {
  margin-bottom: 22px;
  font-size: 20px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .head,
  .nav {
    display: flex;
  }
  .head {
    flex-direction: column;
    align-items: center;
    .head {
      width: 80%;
      margin: 0 auto;
      max-width: 1150px;
    }
  }
}

@media (min-width: 1025px) {
  .head {
    flex-direction: row;
    justify-content: space-between;
  }
}

//
//
//sign-up page
//
//
.main {
  text-align: center;
  justify-content: center;
  display: flex;
  height: 50rem;
  padding-top: 5rem;
  padding-bottom: 8rem;
}
.sub-main {
  width: 45rem;
  height: 38rem;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: linear-gradient(
    180deg,
    rgba(18, 18, 18, 0) 0%,
    rgba(0, 0, 0, 0.19) 57.49%,
    #000000 100%
  );
}

.title {
  margin-bottom: 4rem;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  background: linear-gradient(93.31deg, #8e15e4 0%, #f3ea14 100.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-right: 41px;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  margin-top: 4rem;
  width: 10rem;
  height: 3rem;
  background: #404040;
  border-radius: 2rem;
  color: #7a7a7a;
  font-size: 1.5rem;
  border: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
}

.para {
  color: #ffffff;
  margin-top: 3rem;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
}

#num {
  color: #777676;
  font-size: 1.5rem;
  text-indent: 6px;
}

#otp {
  color: #777676;
  font-size: 1.5rem;
  text-indent: 6px;
}
#resend {
  color: #9d9d9d;
  display: flex;
  justify-content: flex-end;
  margin-right: 5.5rem;
}
#resendlink {
  color: #f4e900;
  display: flex;
  justify-content: flex-end;
  margin-right: 5.5rem;
}
#arrow {
  margin-bottom: 3rem;
  margin-right: 40rem;
}
.pargraph-signup {
  margin-top: 3%;
  // margin-left: 8.5%;
}
.span-signup {
  width: 424px;
  height: 22px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: #f4e900;
}
.para-signup {
  color: white;
  width: 424px;
  height: 22px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  // margin-left: 8.5%;
  /* identical to box height */

  text-align: center;
}
.code-para {
  margin-right: 70%;
  color: #9d9d9d;
}
.error {
  color: #9d9d9d;
  display: flex;
  justify-content: end;
}
#code {
  color: #777676;
  font-size: 1.5rem;
  text-indent: 6px;
}
.line {
  border-bottom: 1px solid #bebebe;
  width: 30rem;
  margin: 0px auto;
}

.msg-para {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: #a046e0;
  margin-right: 6%;
}
.symb {
  margin-bottom: 11px;
  margin-left: 78px;
}
.frame-icon {
  margin-left: 25%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

////
//
//
//
//
//footer-flex
//
//
//
//
//
//

ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  line-height: 40px;
}
.footer-container {
  padding-left: 99px;
  padding-right: 99px;
}

.footer-list {
  display: flex;
}
.footer-btn {
  margin-left: 0px;
}

.logo-image {
  cursor: pointer;
}

.button-f {
  background: linear-gradient(85.56deg, #a046e0 6.02%, #f4e900 161.61%);
  color: #ffffff;
  border-radius: 2rem;
  padding: 10px 25px;
  height: 3rem;
  width: 10rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
}

.text {
  color: #dbdbdb;
  text-decoration: none;
  list-style: none;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
}

.text:hover {
  color: #dbdbdb;
}

.logo {
  padding-left: 8rem;
}

.footer-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.img {
  margin: 1rem;
  cursor: pointer;
}

.layout-bg {
  background-image: url("./app/assets/images/bg.webp");
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: fit-content;
  background-position: center center;
}

.signup-input {
  border-bottom: 1px solid #bebebe;
  width: 492px;
  height: 0px;
}
.code {
  margin-left: 7px;
}
.signup-icon {
  margin-left: 7%;
}
.verify-button {
  margin-right: 6%;
}
#arrow {
  margin-right: 94%;
}

.error1 {
  text-align: center;
  color: red;
  margin-top: 2px;
}

input[type="radio"] {
  display: none;
}

label {
  position: relative;
  cursor: pointer;
}

label::before {
  content: "";
  border: 2px solid #4f4d4d;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
}

label::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(160, 70, 224, 0);
  left: 6px;
  top: 12px;
  margin: -8px -2px;
  border-radius: 50%;
  transition: all 0.4s;
}

input[type="radio"]:checked + label::after {
  background: rgba(160, 70, 224, 1);
}

input[type="radio"]:checked + label::before {
  border: 2px solid #a046e0;
}

@media screen and (max-width: 767px) {
  .con {
    width: 100%;
    margin: auto;
    .profile-container {
      width: 89%;
      margin: 0px auto;
      .form-container .form-radio {
        font-size: 16px;
      }
      .profile-select {
        margin-top: 21px;
      }
      .profile-header .profile-heading {
        width: 222px;
        margin-bottom: -17px;
        h1 {
          font-size: 23px;
          margin-right: 11px;
        }
      }
      .profile-paragraph {
        font-size: 13px;
        margin-right: 20%;
        margin-top: 30px;
      }
      .form-container {
        flex-direction: column;
        align-items: start;
        margin-left: 25%;
      }
      .profile-btn {
        width: 136px;
        margin-left: 28%;
        height: 45px;
        margin-top: 26%;
        font-size: 17px;
      }
      .progress {
        .progress1 {
          width: 97.5px;
          margin-right: 11px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .thirdstep-container {
    .thirdstep-paragraph p {
      font-size: 8px;
      margin-top: -9px;
    }
    .thirdstep-paragraph-2 p {
      font-size: 8px;
      margin-top: -9px;
    }
  }
  .error1 {
    font-size: 10px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sub-main {
    width: 20rem;
    height: 41rem;
  }
  .para-signup {
    width: 299px;
    font-size: 13px;
  }
  .span-signup {
    font-size: 13px;
  }
  .code-para{
    margin-right: 52%;
  }
  #code {
    font-size: 16px;
    margin-right: 3px;
  }
  .symb {
    margin-right: -5px;
  }
  .image-signup {
    width: 288px;
  }
  .signup-image {
    width: 95%;
  }
  .title {
    font-size: 2.5rem;
    margin: 0px auto;
    margin-bottom: 25%;
  }
  #arrow {
    margin-right: 89%;
  }
  .para {
    font-size: 12px;
  }
  .signup-input {
    width: 305px;
  }
  .signup-icon {
    margin-left: 22%;
  }
  .verify-button {
    margin-right: 12px;
    margin-top: 18%;
  }
  .icon {
    margin: auto;
    display: block;
    height: 195px;
  }

  // .ele{
  //   font-size: 13px;
  //   width: 90px;
  //   padding: 8px 11px;
  // }
  .logo {
    padding-left: 0px;
    margin-bottom: -12px;
  }
  .footer-btn {
    margin-left: 6px;
    margin-top: 33px;
  }
  .social-links {
    margin-top: 22px;
  }
  .logo-image {
    margin-left: 8px;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    line-height: 37px;
    margin-bottom: 16px;
    font-size: 13px;
    width: 86%;
    height: 100%;
  }
  .nav {
    justify-content: space-between;
  }
  .ele {
    font-size: 22px;
    margin-right: 0px;
    padding: 8px 6px;
    margin-left: 0px;
    margin: 0px auto;
  }
  .mobile-icon {
    margin-left: 22%;
  }
  .otp-icon {
    margin-left: 52px;
    height: 31px;
  }
  .arrow-mobile {
    margin-left: 27px;
  }
  .line {
    width: 19rem;
  }
  .mobile-icon {
    margin-left: 23%;
  }
  .frame-icon {
    margin-left: 86px;
  }
  #otp {
    font-size: 17px;
  }
}

//Finish page

.finish-container {
  width: 716px;
  height: 653px;
  background: linear-gradient(
    180deg,
    rgba(18, 18, 18, 0) 0%,
    rgba(0, 0, 0, 0.19) 57.49%,
    #000000 100%
  );
  margin: auto;
  .finish-heading {
    text-align: center;
    width: 697px;
    height: 156px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 78px;
    background: linear-gradient(93.31deg, #8e15e4 0%, #f3ea14 100.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-top: 72px;
  }
  .finish-paragraph {
    width: 550px;
    height: 37px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #a046e0;
    margin-left: 153px;
    margin-top: 100px;
  }
  .finish-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
  }
  .finish-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    width: 170.43px;
    height: 57px;
    margin: 0px auto;
    .image-finish {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .finish-page {
    width: 100%;
    margin: auto;
    .finish-container {
      width: 95%;
      margin: 0px auto;
      height: 628px;
      .finish-heading {
        width: 96%;
        margin-left: 20px;
      }
      .finish-paragraph {
        font-size: 153%;
        // margin-left: 27px;
        // width: 0px;
        margin: 0px auto;
        width: 323px;
      }
      .finish-link {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        .image2-finish {
          margin-top: 12%;
          margin-right: 7px;
        }
      }
    }
  }
}
/* Phone Input Style */
.react-tel-input {
  margin-left: 5px;
  width: auto;
}
.react-tel-input .form-control {
  background: transparent !important;
  border: none !important;
  outline: 0;
  box-shadow: none;
  font-size: 18px !important;
  line-height: 30px !important;
  color: #b5b5b5 !important;
}

.react-tel-input .flag-dropdown {
  background-color: transparent !important;
  border: none !important;
}
.react-tel-input .flag-dropdown.open {
  background: transparent !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background: transparent !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}

.react-tel-input .selected-flag .flag {
  transform: scale(1.4);
}

// For ipad - media query

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .col {
    display: flex;
  }
  .footer-btn {
    margin-bottom: 3px;
  }
  ul {
    white-space: nowrap;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-left: 86px;
  }
  .finish-heading {
    margin-left: 20px;
  }
  .logo-image {
    margin-right: 100px;
  }
  .icon {
    margin: auto;
    display: block;
  }
  .custom-contact {
    margin: 0px auto;
  }
  .social-links {
    margin-top: 35px;
  }
  .sub-main {
    height: 41rem;
  }
  .title {
    margin-left: 42px;
  }
  .para {
    font-size: 21px;
  }
}
